<div class="row" *ngFor="let category of categories">
  <div class="col-md-6">
    <app-single-comparison
      [players]="players"
      [category]="category"
    ></app-single-comparison>
  </div>
  <div class="col-md-6">
    <app-table
      [players]="players"
      [comparison]="getComparison(category)"
      [title]="category + ' Compatibility'"
    ></app-table>
  </div>
</div>
<hr />
<app-table
  [players]="players"
  [comparison]="getCumulativeComparison()"
  title="Cumulative Compatibility"
></app-table>
