<div class="row" *ngFor="let quality of qualities">
  <div class="col-md-6">
    <app-single-comparison
      [players]="players"
      [quality]="quality"
    ></app-single-comparison>
  </div>
  <div class="col-md-6">
    <app-table
      [players]="players"
      [comparison]="getComparison(quality)"
      [title]="quality + ' Compatibility'"
    ></app-table>
  </div>
</div>
<hr />
<app-table
  [players]="players"
  [comparison]="getCumulativeComparison()"
  title="Cumulative Compatibility"
></app-table>
